name: Rust

on:
  push:
    branches: [ ]
  pull_request:
    branches: [ ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: buildjet-4vcpu-ubuntu-2204-arm

    steps:
      - name: Checkout master repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.77.1
          override: true

      - name: Cache Cargo registry
        uses: buildjet/cache@v3
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-
  
      - name: Cache Cargo index
        uses: buildjet/cache@v3
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-index-
  
      - name: Cache target directory
        uses: buildjet/cache@v3
        with:
          path: target
          key: ${{ runner.os }}-cargo-target-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-target-

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

  # write access missing

  # clippy_check:
  #   runs-on: ubuntu-latest

  #   permissions:
  #     contents: write
  #     pull-requests: write
  #     repository-projects: write

  #   steps:
  #     - uses: actions/checkout@v3

  #     - run: rustup component add clippy

  #     - uses: actions-rs/clippy-check@v1
  #       with:
  #         token: ${{ secrets.GITHUB_TOKEN }}
  #         args: --all-features
